DATABASE_URL="postgresql://neondb_owner:npg_tzdfZ4o6OkNW@ep-weathered-glitter-a1zic1uu-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXT_PUBLIC_SITE_URL="https://example.com"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="doi9js59k"
CLOUDINARY_API_KEY="445997982295274"
CLOUDINARY_API_SECRET="kMAiLclsO-ufsmXlcDUV3XXurXE"
